<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./bootstrap-5.0.0/css/bootstrap.min.css">    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


</head>


<body>
    <header id="header">
        <h2>Fornecedor</h2>
    </header>

    <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="fornecedor.html">List</a></li>
        <li><a href="#contact">Contact</a></li>
        <li style="float:right"><a class="active" href="#about">About</a></li>
      </ul>

      <div class="w3-panel w3-border-top w3-border-bottom w3-border-green">
        <div class="container">
            <div class="row">
                <div class="col">
                    <table class="table table-bordered table-dark">
                        <thead>
                          <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Email</th>
                            <th scope="col">Telefone</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">9</th>
                            <td>Adidas</td>
                            <td>Ad@gmail.com</td>
                            <td>8752-6958</td>
                            <td><a class="a-edit" href="./edit/2"><i class="far fa-edit"></i></a></td>
                            <td><a class="a-delete" href="./delete/2"><i class="fa fa-trash"></i></a></td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>Pureza</td>
                            <td>Pu@gmail.com</td>
                            <td>1548-6925</td>
                            <td><a class="a-edit" href="./edit/2"><i class="far fa-edit"></i></a></td>
                            <td><a class="a-delete" href="./delete/2"><i class="fa fa-trash"></i></a></td>
                          </tr>
                          <tr>
                            <th scope="row">4</th>
                            <td>Lupo</td>
                            <td>Lu@gmail.com</td>
                            <td>0029-5841</td>
                            <td><a class="a-edit" href="./edit/2"><i class="far fa-edit"></i></a></td>
                            <td><a class="a-delete" href="./delete/2"><i class="fa fa-trash"></i></a></td>
                          </tr>
                          <tr>
                            <th scope="row">7</th>
                            <td>Vans</td>
                            <td>Van@gmail.com</td>
                            <td>1324-2703</td>
                            <td><a class="a-edit" href="./edit/2"><i class="far fa-edit"></i></a></td>
                            <td><a class="a-delete" href="./delete/2"><i class="fa fa-trash"></i></a></td>
                          </tr>
                        </tbody>
                      </table>
                </div>
      </div>
    

</body>
<script src="./js/popper.min.js"></script>
<script src="./bootstrap-5.0.0/js/bootstrap.min.js"></script>
</html>