<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./bootstrap-5.0.0/css/bootstrap.min.css">    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


</head>


<body>
    <header id="header">
        <h2>Fornecedor</h2>
    </header>

    <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="fornecedor.html">List</a></li>
        <li><a href="#contact">Contact</a></li>
        <li style="float:right"><a class="active" href="#about">About</a></li>
      </ul>
    

</body>
<script src="./js/popper.min.js"></script>
<script src="./bootstrap-5.0.0/js/bootstrap.min.js"></script>
</html>